.header {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 0;
  }

  &__toggler {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    margin-top: 0;
  }
}
